a,
a:hover,
a:focus {
	text-decoration: none;
	color: #FFF
}

a:focus {
	outline: none
}

a[href^='mailto:']:hover {
	text-decoration: underline
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0
}

@font-face {
	font-family: 'Muli';
	src: url("../fonts/Muli-ExtraBold.eot");
	src: url("../fonts/Muli-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Muli-ExtraBold.woff") format("woff"), url("../fonts/Muli-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal
}

@font-face {
	font-family: 'Muli';
	src: url("../fonts/Muli-Light.eot");
	src: url("../fonts/Muli-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Muli-Light.woff") format("woff"), url("../fonts/Muli-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: 'Muli';
	src: url("../fonts/Muli-ExtraLightItalic.eot");
	src: url("../fonts/Muli-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Muli-ExtraLightItalic.woff") format("woff"), url("../fonts/Muli-ExtraLightItalic.ttf") format("truetype");
	font-weight: 200;
	font-style: italic
}

@font-face {
	font-family: 'Muli';
	src: url("../fonts/Muli-Italic.eot");
	src: url("../fonts/Muli-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Muli-Italic.woff") format("woff"), url("../fonts/Muli-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic
}

@font-face {
	font-family: 'Muli';
	src: url("../fonts/Muli-Black.eot");
	src: url("../fonts/Muli-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Muli-Black.woff") format("woff"), url("../fonts/Muli-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal
}

@font-face {
	font-family: 'Muli';
	src: url("../fonts/Muli-ExtraBoldItalic.eot");
	src: url("../fonts/Muli-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Muli-ExtraBoldItalic.woff") format("woff"), url("../fonts/Muli-ExtraBoldItalic.ttf") format("truetype");
	font-weight: 800;
	font-style: italic
}

@font-face {
	font-family: 'Muli';
	src: url("../fonts/Muli-Regular.eot");
	src: url("../fonts/Muli-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Muli-Regular.woff") format("woff"), url("../fonts/Muli-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'Muli';
	src: url("../fonts/Muli-SemiBoldItalic.eot");
	src: url("../fonts/Muli-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Muli-SemiBoldItalic.woff") format("woff"), url("../fonts/Muli-SemiBoldItalic.ttf") format("truetype");
	font-weight: 600;
	font-style: italic
}

@font-face {
	font-family: 'Muli';
	src: url("../fonts/Muli-ExtraLight.eot");
	src: url("../fonts/Muli-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Muli-ExtraLight.woff") format("woff"), url("../fonts/Muli-ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal
}

@font-face {
	font-family: 'Muli';
	src: url("../fonts/Muli-Bold.eot");
	src: url("../fonts/Muli-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Muli-Bold.woff") format("woff"), url("../fonts/Muli-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal
}

@font-face {
	font-family: 'Muli';
	src: url("../fonts/Muli-SemiBold.eot");
	src: url("../fonts/Muli-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Muli-SemiBold.woff") format("woff"), url("../fonts/Muli-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal
}

@font-face {
	font-family: 'Muli';
	src: url("../fonts/Muli-LightItalic.eot");
	src: url("../fonts/Muli-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Muli-LightItalic.woff") format("woff"), url("../fonts/Muli-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic
}

@font-face {
	font-family: 'Muli';
	src: url("../fonts/Muli-BoldItalic.eot");
	src: url("../fonts/Muli-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Muli-BoldItalic.woff") format("woff"), url("../fonts/Muli-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic
}

@font-face {
	font-family: 'Muli';
	src: url("../fonts/Muli-BlackItalic.eot");
	src: url("../fonts/Muli-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Muli-BlackItalic.woff") format("woff"), url("../fonts/Muli-BlackItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic
}

body {
	min-width: 320px;
	font: 16px 'Muli', sans-serif;
	font-weight: normal;
	font-style: normal
}

header {
	height: 635px;
	background-image: url(../images/top-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff
}

header .navigation-wrapper {
	padding-top: 30px
}

header .logo a {
	display: inline-block;
	vertical-align: middle;
	line-height: 1
}

header .navigation {
	font-size: 0;
	text-align: center;
	line-height: 1
}

header .navigation li {
	display: inline-block;
	width: 25%;
	padding: 25px 0;
	font-size: 20px;
	text-transform: uppercase
}

header .navigation a {
	position: relative;
	transition: all ease-out .5s
}

header .navigation a:after {
	transition: all ease-out .5s;
	content: '';
	position: absolute;
	bottom: -25px;
	display: block;
	width: 100%;
	height: 3px;
	border-bottom: 3px solid transparent;
	margin: 0 auto;
	left: 0;
	right: 0
}

header .navigation a:hover:after {
	border-color: #f54b4e;
	content: '';
	position: absolute;
	bottom: -25px;
	display: block;
	width: 100%;
	height: 3px;
	border-bottom: 3px solid #f54b4e;
	margin: 0 auto;
	left: 0;
	right: 0
}

header .navigation .active {
	position: relative
}

header .navigation .active:after {
	content: '';
	position: absolute;
	bottom: -25px;
	display: block;
	width: 100%;
	height: 3px;
	border-bottom: 3px solid #f54b4e;
	margin: 0 auto;
	left: 0;
	right: 0
}

header .log-wrapper {
	font-size: 0;
	padding-top: 30px;
	line-height: 1
}

header .log-wrapper a {
	font-size: 16px;
	transition: all ease-out .5s
}

header .log-wrapper a:hover {
	color: #a2a2a2
}

header .log-wrapper .log {
	display: inline-block;
	width: 50%
}

header .log-wrapper .log:last-child {
	text-align: right
}

header .header-title {
	font-size: 30px;
	font-weight: bold;
	margin: 115px 0 30px;
	text-transform: uppercase
}

header .header-info {
	font-size: 24px;
	text-transform: uppercase
}

header .btn-wrapper {
	font-size: 20px;
	margin-top: 90px
}

header .btn-wrapper .login {
	display: block;
	height: 45px;
	line-height: 45px;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	font-size: 20px;
	transition: all ease-out .5s
}

header .btn-wrapper .login span {
	font-size: .8em
}

header .btn-wrapper .login:first-child {
	width: 115px;
	border-bottom: 2px solid #fff;
	margin-right: 25px;
	color: #fff
}

header .btn-wrapper .login:last-child {
	width: 225px;
	background: #f43c40;
	font-weight: bold
}

header .btn-wrapper .login:hover:first-child,
header .btn-wrapper .login:focus:first-child,
header .btn-wrapper .login:active:first-child {
	border-bottom-color: #f54b4e;
	color: #f54b4e
}

header .btn-wrapper .login:hover:last-child,
header .btn-wrapper .login:focus:last-child,
header .btn-wrapper .login:active:last-child {
	background: #cc3333
}

main .sell-wrapper {
	background: #FFF;
	margin-top: -90px
}

main .sell-wrapper .sell-info {
	font-size: 18px;
	padding-top: 40px;
	color: #6C6C6C;
	text-align: center;
	display: block
}

main .sell-wrapper .sell-title {
	font-size: 26px;
	margin: 15px 0 40px;
	font-weight: bold;
	color: #222;
	text-align: center;
	position: relative;
	text-transform: uppercase
}

main .sell-wrapper .sell-title:after {
	content: '';
	position: absolute;
	top: -8px;
	display: block;
	width: 165px;
	height: 2px;
	border-top: 2px solid #f54b4e;
	margin: 0 auto;
	left: 355px;
	right: 0
}

main .sell-item {
	position: relative;
	margin-bottom: 60px
}

main .sell-item .title-wrapper {
	width: 405px;
	height: 215px;
	border: 2px solid #636363;
	padding-left: 140px;
	padding-right: 15px;
	padding-top: 35px;
	padding-bottom: 40px;
	margin-left: 80px
}

main .sell-item .img-wrapper {
	background: #f54b4e;
	width: 210px;
	height: 210px;
	position: absolute;
	top: 40px
}

main .sell-item .img-wrapper img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	padding: 15px
}

main .sell-item .item-title {
	font-size: 22px;
	font-weight: bold;
	color: #222;
	text-align: left;
	margin: 0 0 45px;
	text-transform: uppercase
}

main .sell-item .item-title:after {
	content: none
}

main .sell-item .item-info {
	font-size: 16px;
	color: #6C6C6C;
	margin: 0
}

main .sell-item:nth-child(1):after {
	content: "01";
	-moz-writing-mode: vertical-rl;
	-o-writing-mode: vertical-rl;
	-ms-writing-mode: bt-rl;
	writing-mode: vertical-rl;
	position: absolute;
	right: 5px;
	top: 0;
	transform: rotate(180deg);
	color: #f54b4e;
	font-size: 26px;
	font-weight: bold
}

main .sell-item:nth-child(1):before {
	content: "";
	position: absolute;
	height: 205px;
	width: 5px;
	right: 18px;
	top: 17%;
	bottom: 0;
	background: #222222
}

main .sell-item:nth-child(1) .img-wrapper {
	left: 15px
}

main .sell-item:nth-child(2):after {
	content: "02";
	-moz-writing-mode: vertical-rl;
	-o-writing-mode: vertical-rl;
	-ms-writing-mode: bt-rl;
	writing-mode: vertical-rl;
	position: absolute;
	right: 5px;
	top: 0;
	transform: rotate(180deg);
	color: #f54b4e;
	font-size: 26px;
	font-weight: bold
}

main .sell-item:nth-child(2):before {
	content: "";
	position: absolute;
	height: 205px;
	width: 5px;
	right: 18px;
	top: 17%;
	bottom: 0;
	background: #222222
}

main .sell-item:nth-child(2) .img-wrapper {
	left: 15px
}

main .sell-item:nth-child(3):after {
	content: "03";
	-moz-writing-mode: vertical-rl;
	-o-writing-mode: vertical-rl;
	-ms-writing-mode: bt-rl;
	writing-mode: vertical-rl;
	position: absolute;
	left: 3px;
	top: 0;
	transform: rotate(180deg);
	color: #f54b4e;
	font-size: 26px;
	font-weight: bold
}

main .sell-item:nth-child(3):before {
	content: "";
	position: absolute;
	height: 205px;
	width: 5px;
	left: 17px;
	top: 17%;
	bottom: 0;
	background: #222222
}

main .sell-item:nth-child(3) .title-wrapper {
	padding-right: 140px;
	padding-left: 25px;
	margin-left: 70px
}

main .sell-item:nth-child(3) .img-wrapper {
	right: 15px
}

main .sell-item:nth-child(4):after {
	content: "04";
	-moz-writing-mode: vertical-rl;
	-o-writing-mode: vertical-rl;
	-ms-writing-mode: bt-rl;
	writing-mode: vertical-rl;
	position: absolute;
	left: 3px;
	top: 0;
	transform: rotate(180deg);
	color: #f54b4e;
	font-size: 26px;
	font-weight: bold
}

main .sell-item:nth-child(4):before {
	content: "";
	position: absolute;
	height: 205px;
	width: 5px;
	left: 17px;
	top: 17%;
	bottom: 0;
	background: #222222
}

main .sell-item:nth-child(4) .title-wrapper {
	padding-right: 140px;
	padding-left: 25px;
	margin-left: 70px
}

main .sell-item:nth-child(4) .img-wrapper {
	right: 15px
}

main .sell-item:nth-child(3) .item-title {
	margin-bottom: 20px
}

main .search-wrapper {
	height: 220px;
	background-image: url(../images/search-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center
}

main .search-wrapper .search-info {
	font-size: 18px;
	padding-top: 35px;
	color: #d3d3d3;
	text-align: center;
	display: block
}

main .search-wrapper .search-title {
	font-size: 26px;
	margin: 15px 0 40px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	position: relative;
	text-transform: uppercase
}

main .search-wrapper .search-title:after {
	content: '';
	position: absolute;
	top: -8px;
	display: block;
	width: 165px;
	height: 2px;
	border-top: 2px solid #f54b4e;
	margin: 0 auto;
	left: 355px;
	right: 0
}

main .search-wrapper select {
	background: url("../images/down.png") no-repeat right transparent;
	background-position-x: 96%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	text-indent: 1px;
	text-overflow: '';
	width: 100%;
	border: none;
	border-bottom: 2px solid #fff;
	color: #fff;
	padding: 0 10px 10px;
	font-size: 18px;
	outline: none
}

main .search-wrapper select::-ms-expand {
	display: none
}

main .search-wrapper select option {
	background: rgba(0, 0, 0, 0.5)
}

main .search-wrapper select::-ms-expand {
	display: none
}

main .search-wrapper .search {
	display: block;
	height: 35px;
	line-height: 35px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	line-height: 1;
	background: #f43c40;
	font-weight: bold;
	border: none;
	color: #FFF;
	font-size: 20px;
	transition: all ease-out .5s
}

main .search-wrapper .search:hover {
	background: #cc3333
}

main .cars-header {
	padding-top: 40px;
	text-align: right
}

main .cars-header a {
	display: block;
	height: 47px;
	line-height: 47px;
	text-align: center;
	text-transform: uppercase;
	width: 90%;
	display: inline-block;
	line-height: 42px;
	text-transform: none;
	font-size: 18px;
	font-weight: bold;
	color: #222;
	border: 2px solid #222;
	transition: all ease-out .5s
}

main .cars-header a:hover,
main .cars-header a:active,
main .cars-header a:focus {
	background: #F3F3F3;
	color: #494848;
	border-color: transparent
}

main .cars-header .active {
	background: #F3F3F3;
	color: #494848;
	border-color: transparent
}

main .cars-header div:nth-child(1):after {
	content: "01";
	-moz-writing-mode: vertical-rl;
	-o-writing-mode: vertical-rl;
	-ms-writing-mode: bt-rl;
	writing-mode: vertical-rl;
	position: absolute;
	left: 0;
	top: 0;
	transform: rotate(180deg);
	color: #f54b4e;
	font-size: 16px;
	font-weight: bold
}

main .cars-header div:nth-child(1):before {
	content: "";
	position: absolute;
	height: 24px;
	width: 2px;
	left: 10px;
	top: 23px;
	bottom: 0;
	background: #222222
}

main .cars-header div:nth-child(1) .title-wrapper {
	padding-right: 140px;
	padding-left: 20px;
	margin-left: 80px
}

main .cars-header div:nth-child(1) .img-wrapper {
	right: 10px
}

main .cars-header div:nth-child(2):after {
	content: "02";
	-moz-writing-mode: vertical-rl;
	-o-writing-mode: vertical-rl;
	-ms-writing-mode: bt-rl;
	writing-mode: vertical-rl;
	position: absolute;
	left: 0;
	top: 0;
	transform: rotate(180deg);
	color: #f54b4e;
	font-size: 16px;
	font-weight: bold
}

main .cars-header div:nth-child(2):before {
	content: "";
	position: absolute;
	height: 24px;
	width: 2px;
	left: 10px;
	top: 23px;
	bottom: 0;
	background: #222222
}

main .cars-header div:nth-child(2) .title-wrapper {
	padding-right: 140px;
	padding-left: 20px;
	margin-left: 80px
}

main .cars-header div:nth-child(2) .img-wrapper {
	right: 10px
}

main .cars-header div:nth-child(3):after {
	content: "03";
	-moz-writing-mode: vertical-rl;
	-o-writing-mode: vertical-rl;
	-ms-writing-mode: bt-rl;
	writing-mode: vertical-rl;
	position: absolute;
	left: 0;
	top: 0;
	transform: rotate(180deg);
	color: #f54b4e;
	font-size: 16px;
	font-weight: bold
}

main .cars-header div:nth-child(3):before {
	content: "";
	position: absolute;
	height: 24px;
	width: 2px;
	left: 10px;
	top: 23px;
	bottom: 0;
	background: #222222
}

main .cars-header div:nth-child(3) .title-wrapper {
	padding-right: 140px;
	padding-left: 20px;
	margin-left: 80px
}

main .cars-header div:nth-child(3) .img-wrapper {
	right: 10px
}

main .cars-header div:nth-child(4):after {
	content: "04";
	-moz-writing-mode: vertical-rl;
	-o-writing-mode: vertical-rl;
	-ms-writing-mode: bt-rl;
	writing-mode: vertical-rl;
	position: absolute;
	left: 0;
	top: 0;
	transform: rotate(180deg);
	color: #f54b4e;
	font-size: 16px;
	font-weight: bold
}

main .cars-header div:nth-child(4):before {
	content: "";
	position: absolute;
	height: 24px;
	width: 2px;
	left: 10px;
	top: 23px;
	bottom: 0;
	background: #222222
}

main .cars-header div:nth-child(4) .title-wrapper {
	padding-right: 140px;
	padding-left: 20px;
	margin-left: 80px
}

main .cars-header div:nth-child(4) .img-wrapper {
	right: 10px
}

main .cars-wrapper {
	padding: 30px 0
}

main .cars-wrapper figure {
	position: relative;
	display: block;
	height: 165px;
	background-color: #f1f0f0
}

main .cars-wrapper figure img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	max-width: 100%;
	max-height: 100%;
	margin: auto
}

main .cars-wrapper .car-item {
	margin-bottom: 50px
}

main .cars-wrapper .info-car {
	position: relative;
	width: calc(100% - 16px);
	margin: 0 auto;
	border: 2px solid #000;
	border-top: none;
	padding: 10px 0 20px 15px;
	position: relative
}

main .cars-wrapper .info-car time {
	display: block;
	color: #6C6C6C;
	font-size: 14px;
	position: relative
}

main .cars-wrapper .info-car time span {
	margin-right: 5px
}

main .cars-wrapper .info-car time:after {
	content: "";
	border-bottom: 1px solid #f54b4e;
	width: 35%;
	height: 1px;
	right: 25%;
	bottom: -5px;
	position: absolute
}

main .cars-wrapper .info-car a {
	font-size: 18px;
	color: #000;
	display: block;
	margin: 15px 0 20px;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	text-overflow: ellipsis
}

main .cars-wrapper .info-car price {
	display: block;
	font-size: 22px;
	font-weight: bold;
	color: #50c5e6
}

main .cars-wrapper .info-car .btn {
	position: absolute;
	border-radius: 0;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	bottom: -18px;
	right: -10px;
	cursor: pointer;
	color: #010101;
	border: 2px solid #222;
	transition: all ease-out .5s
}

main .cars-wrapper .info-car .btn:hover,
main .cars-wrapper .info-car .btn:focus,
main .cars-wrapper .info-car .btn:active {
	background: #f54b4e;
	border-color: transparent;
	color: #fff
}

main .cars-wrapper .see-more {
	background: #f43c40;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	transition: all ease-out .5s;
	width: 130px;
	margin: 0 auto;
	font-weight: bold;
	font-size: 18px
}

main .cars-wrapper .see-more:hover,
main .cars-wrapper .see-more:focus,
main .cars-wrapper .see-more:active {
	background: #cc3333
}

main .slider-wrapper {
	background-image: url(../images/slider-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 360px
}

main .slider-wrapper .slider-text {
	font-size: 18px;
	margin-top: 35px;
	color: #d3d3d3;
	text-align: center;
	display: block
}

main .slider-wrapper .slider-title {
	font-size: 26px;
	margin: 15px 0 80px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	position: relative;
	text-transform: uppercase
}

main .slider-wrapper .slider-title:after {
	content: '';
	position: absolute;
	top: -8px;
	display: block;
	width: 165px;
	height: 2px;
	border-top: 2px solid #f54b4e;
	margin: 0 auto;
	left: 355px;
	right: 0
}

main .slider-wrapper .text {
	color: #F6F6F6;
	text-align: center;
	margin: 0 auto;
	width: 90%;
	font-size: 18px;
	max-width: 1050px
}

main .slider-wrapper .slider-info {
	text-align: center;
	margin-top: 40px
}

main .slider-wrapper .name {
	font-size: 18px;
	color: #f54b4e;
	font-weight: bold;
	display: inline-block;
	margin-right: 30px
}

main .slider-wrapper .date {
	display: inline-block;
	font-size: 14px;
	color: #E0E0E0
}

main .slider-wrapper .date i {
	margin-right: 10px
}

main .owl-carousel {
	position: relative
}

main .owl-theme .owl-controls {
	position: absolute;
	right: 0;
	bottom: 0;
	top: -50px;
	margin-top: 0
}

main .owl-theme .owl-controls .owl-page span {
	display: none
}

main .owl-theme .owl-controls .owl-page:nth-child(1):after {
	content: "01";
	-moz-writing-mode: vertical-rl;
	-o-writing-mode: vertical-rl;
	-ms-writing-mode: bt-rl;
	writing-mode: vertical-rl;
	position: absolute;
	left: 0;
	top: 0px;
	transform: rotate(180deg);
	color: #b0383c;
	font-size: 16px;
	font-weight: bold
}

main .owl-theme .owl-controls .owl-page:nth-child(1):before {
	content: "";
	position: absolute;
	height: 35px;
	width: 3px;
	left: 9px;
	top: 25px;
	bottom: 0;
	background: #848386
}

main .owl-theme .owl-controls .owl-page:nth-child(2):after {
	content: "02";
	-moz-writing-mode: vertical-rl;
	-o-writing-mode: vertical-rl;
	-ms-writing-mode: bt-rl;
	writing-mode: vertical-rl;
	position: absolute;
	left: 0;
	top: 70px;
	transform: rotate(180deg);
	color: #b0383c;
	font-size: 16px;
	font-weight: bold
}

main .owl-theme .owl-controls .owl-page:nth-child(2):before {
	content: "";
	position: absolute;
	height: 35px;
	width: 3px;
	left: 9px;
	top: 95px;
	bottom: 0;
	background: #848386
}

main .owl-theme .owl-controls .owl-page:nth-child(3):after {
	content: "03";
	-moz-writing-mode: vertical-rl;
	-o-writing-mode: vertical-rl;
	-ms-writing-mode: bt-rl;
	writing-mode: vertical-rl;
	position: absolute;
	left: 0;
	top: 140px;
	transform: rotate(180deg);
	color: #b0383c;
	font-size: 16px;
	font-weight: bold
}

main .owl-theme .owl-controls .owl-page:nth-child(3):before {
	content: "";
	position: absolute;
	height: 35px;
	width: 3px;
	left: 9px;
	top: 165px;
	bottom: 0;
	background: #848386
}

main .owl-theme .owl-controls .owl-page.active:after {
	color: #f54b4e
}

main .owl-theme .owl-controls .owl-page.active:before {
	width: 3px;
	background: #B7B7B7
}

.meta-content {
	font-size: 16px;
	text-align: center;
	color: #0C2641;
	padding: 30px 0
}

.cl-banner {
	padding-top: 40px
}

footer {
	position: relative
}

footer .about-wrapper {
	height: auto;
	background-image: url(../images/footer-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 30px 0
}

footer .subscribe-wrapper {
	margin-bottom: 30px
}

footer .subscribe-wrapper .subscribe-title {
	font-size: 22px;
	font-weight: bold;
	color: #FFF;
	line-height: 75px;
	text-transform: uppercase
}

footer .subscribe-wrapper span {
	font-size: 14px;
	color: #9C999A
}

footer .subscribe-wrapper span a {
	color: #fff
}

footer .subscribe-wrapper .form-wrapper {
	border-left: 2px solid #818283
}

footer .subscribe-wrapper .form-group {
	display: inline-block;
	margin: 20px 40px 0 0;
	vertical-align: middle
}

footer .subscribe-wrapper .form-group:last-child {
	margin-right: 0
}

footer .subscribe-wrapper input {
	width: 245px;
	background: transparent;
	border: none;
	border-bottom: 2px solid #313131;
	padding: 3px 0 10px 15px
}

footer .subscribe-wrapper input:focus {
	outline: none
}

footer .subscribe-wrapper button {
	width: 160px;
	height: 35px;
	line-height: 1;
	border: none;
	transition: all ease-out .5s;
	font-weight: bold;
	font-size: 18px;
	background: #F43C40;
	color: #fff
}

footer .subscribe-wrapper button span {
	color: #fff
}

footer .subscribe-wrapper button:hover,
footer .subscribe-wrapper button:focus,
footer .subscribe-wrapper button:active {
	background: #cc3333
}

footer .footer-info .footer-title {
	font-size: 20px;
	font-weight: bold;
	color: #FFF;
	position: relative;
	display: inline-block;
	margin-bottom: 40px;
	text-transform: uppercase
}

footer .footer-info .footer-title:after {
	content: "";
	position: absolute;
	border-bottom: 2px solid #f54b4e;
	height: 2px;
	width: 65px;
	right: -40px;
	bottom: -5px
}

footer .footer-info .about-info {
	margin: 0;
	font-size: 16px;
	color: #FFF
}

footer .footer-info .repokar-wrapper {
	margin-bottom: 30px
}

footer .footer-info .repokar {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	line-height: 1;
	color: #FFF
}

footer .footer-info .repokar span {
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	display: block
}

footer .footer-info .adress {
	color: #FFF;
	font-size: 16px;
	vertical-align: middle;
	margin-bottom: 25px
}

footer .footer-info .adress span {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	color: #f54b4e
}

footer .footer-info .adress .adress-info {
	display: inline-block;
	vertical-align: inherit
}

footer .footer-info .adress:last-child {
	margin-bottom: 0
}

footer .copy {
	background: #f54b4e;
	font-size: 12px;
	color: #fff;
	padding: 10px 0
}

footer .copy .social {
	font-size: 0
}

footer .copy .social li {
	display: inline-block;
	font-size: 20px;
	width: 12.5%;
	text-align: center
}

.scroll {
	width: 53px;
	height: 53px;
	border: 3px solid #f54b4e;
	position: absolute;
	right: -20%;
	bottom: 5%;
	display: block
}

.scroll span {
	color: #f54b4e;
	text-align: center;
	display: block;
	width: 100%;
	height: 100%;
	line-height: 47px;
	font-size: 25px
}

.auction-header {
	background-image: url("../images/top-bg-auction.jpg");
	height: 490px
}

.auction-header+.auction {
	margin-top: -90px
}

.auction-header+.auction .container {
	background: #FFF
}

.auction .search-wrapper {
	background-image: none
}

.auction .search-wrapper .search-info {
	color: #6c6c6c
}

.auction .search-wrapper .row {
	background: #FFF
}

.auction .search-wrapper .search-title {
	color: #222
}

.auction .search-wrapper select {
	color: #6C6C6C;
	border-color: #6c6c6c;
	background-image: url(../images/down-auction.png)
}

.auction .cars-wrapper {
	padding: 30px 0 0
}

.auction .pagination-wrapper {
	text-align: center
}

.auction .pagination-wrapper .pagination {
	margin: 0
}

.auction .pagination-wrapper .pagination li a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	background: #f54b4e;
	color: #FFF;
	border: none;
	transition: all ease-out .5s
}

.auction .pagination-wrapper .pagination li a.active,
.auction .pagination-wrapper .pagination li a:hover {
	background: #cc3333;
	color: #FFF
}

.contact-header {
	background-image: url("../images/top-bg-contact.jpg");
	height: 635px
}

.contact-header .header-title a {
	text-decoration: underline
}

.contact-header .header-info a {
	text-decoration: underline
}

.contact-header .btn-wrapper .login:first-child {
	width: 160px
}

.contact .message-wrapper {
	margin-top: -90px;
	background: #FFF
}

.contact .message-wrapper .message-info {
	font-size: 18px;
	margin-top: 40px;
	color: #6C6C6C;
	text-align: center;
	display: block
}

.contact .message-wrapper .message-title {
	font-size: 26px;
	margin: 15px 0 40px;
	font-weight: bold;
	color: #222;
	text-align: center;
	position: relative;
	text-transform: uppercase
}

.contact .message-wrapper .message-title:after {
	content: '';
	position: absolute;
	top: -8px;
	display: block;
	width: 165px;
	height: 2px;
	border-top: 2px solid #f54b4e;
	margin: 0 auto;
	left: 355px;
	right: 0
}

.contact .message-wrapper .message .form-group {
	margin-bottom: 30px
}

.contact .message-wrapper .message input {
	border: none;
	border-radius: 0;
	border-bottom: 2px solid #6c6c6c;
	color: #6C6C6C;
	font-size: 20px;
	padding-bottom: 10px;
	-webkit-box-shadow: none;
	box-shadow: none
}

.contact .message-wrapper .message textarea {
	border: 2px solid #6c6c6c;
	border-radius: 0;
	height: 115px;
	color: #6C6C6C;
	font-size: 20px;
	resize: none
}

.contact .message-wrapper .captcha-wrapper {
	font-size: 0
}

.contact .message-wrapper .refresh {
	display: inline-block;
	width: 31.5%
}

.contact .message-wrapper .refresh .img-wrapper {
	display: inline-block
}

.contact .message-wrapper .refresh a {
	color: #f54b4e;
	font-size: 22px;
	vertical-align: middle;
	display: inline-block;
	width: 40%;
	text-align: center
}

.contact .message-wrapper .input-wrapper {
	width: 68.5%;
	display: inline-block
}

.contact .message-wrapper .input-wrapper input {
	width: 310px;
	font-size: 20px;
	display: inline-block;
	vertical-align: bottom
}

.contact .message-wrapper .input-wrapper .btn {
	border-radius: 0;
	border: none;
	background: #f54b4e;
	color: #fff;
	font-size: 22px;
	width: 135px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 40px
}

.contact .adress-wrapper .adress {
	display: inline-block;
	vertical-align: middle
}

.contact .adress-wrapper li {
	font-size: 22px;
	color: #222;
	margin-bottom: 30px
}

.contact .adress-wrapper li:last-child {
	margin-bottom: 0
}

.contact .adress-wrapper a {
	color: #222
}

.contact .adress-wrapper span {
	color: #f54b4e;
	vertical-align: middle;
	margin-right: 10px
}

.contact .tweets-wrapper {
	padding-bottom: 35px
}

.contact .tweets-wrapper .tweets-info {
	font-size: 18px;
	margin-top: 40px;
	color: #6C6C6C;
	text-align: center;
	display: block
}

.contact .tweets-wrapper .tweets-title {
	font-size: 26px;
	margin: 15px 0 40px;
	font-weight: bold;
	color: #222;
	text-align: center;
	position: relative;
	text-transform: uppercase
}

.contact .tweets-wrapper .tweets-title:after {
	content: '';
	position: absolute;
	top: -8px;
	display: block;
	width: 165px;
	height: 2px;
	border-top: 2px solid #f54b4e;
	margin: 0 auto;
	left: 355px;
	right: 0
}

@media (max-width: 1300px) {
	.scroll {
		position: static;
		margin: 10px auto 0
	}
}

@media (max-width: 1200px) {
	main .sell-item:nth-child(n):before {
		height: 195px
	}
	main .sell-item:nth-child(n+3) .title-wrapper {
		padding-right: 145px;
		margin-left: 35px
	}
	main .sell-item .title-wrapper {
		margin-left: 50px;
		width: 370px;
		padding-left: 150px
	}
	main .sell-item .img-wrapper {
		width: 190px;
		height: 190px
	}
	main .cars-wrapper .info-car {
		padding: 10px 0 30px 15px
	}
	footer .subscribe-wrapper button {
		width: 100%
	}
	footer .subscribe-wrapper input {
		width: 100%
	}
	footer .subscribe-wrapper .subscribe-title {
		font-size: 19px
	}
	footer .subscribe-wrapper .form-group {
		margin-right: 2.8vw
	}
	.contact .adress-wrapper li {
		font-size: 18px
	}
	.contact .message-wrapper .refresh a {
		width: 28%
	}
	.contact .message-wrapper .input-wrapper .btn {
		margin-left: 32px
	}
}

@media (max-width: 992px) {
	.container {
		width: 100%
	}
	header {
		height: auto;
		padding: 30px 0
	}
	header .btn-wrapper {
		margin-top: 50px;
		text-align: center
	}
	main .sell-wrapper {
		margin-top: 0
	}
	main .sell-item:nth-child(n):after {
		font-size: 22px
	}
	main .sell-item:nth-child(n):before {
		width: 3px;
		height: 177px
	}
	main .sell-item:nth-child(n+3) .title-wrapper {
		margin-left: 30px;
		padding-left: 15px;
		padding-right: 140px
	}
	main .sell-item:nth-child(n+3):after {
		font-size: 22px
	}
	main .sell-item:nth-child(n+3):before {
		width: 3px;
		height: 177px;
		left: 15px
	}
	main .sell-item .item-title {
		font-size: 19px;
		margin-bottom: 20px
	}
	main .sell-item .item-info {
		font-size: 14px
	}
	main .sell-item .title-wrapper {
		width: 81%;
		margin-left: 40px;
		height: 200px;
		padding-left: 140px
	}
	main .sell-item .img-wrapper {
		width: 170px;
		height: 170px
	}
	main .cars-wrapper .info-car {
		padding-left: 10px
	}
	main .cars-wrapper .info-car time {
		font-size: 13px
	}
	main .cars-wrapper .info-car a {
		font-size: 17px;
		margin-bottom: 15px
	}
	main .cars-wrapper .info-car price {
		font-size: 21px
	}
	main .owl-theme .owl-controls {
		right: 15px
	}
	main .slider-wrapper {
		height: auto;
		padding-bottom: 35px
	}
	footer .subscribe-wrapper span {
		text-align: center
	}
	footer .subscribe-wrapper .form-wrapper {
		border: none;
		text-align: center
	}
	footer .subscribe-wrapper form {
		font-size: 0
	}
	footer .subscribe-wrapper .subscribe-title {
		text-align: center
	}
	footer .subscribe-wrapper .form-group {
		width: 30%;
		margin-right: 5%
	}
	footer .subscribe-wrapper input {
		font-size: 16px
	}
	.auction-header {
		height: auto
	}
	.auction-header+.auction {
		margin-top: 0
	}
	.contact-header {
		height: auto
	}
	.contact-header .header-title {
		font-size: 28px
	}
	.contact .adress-wrapper li {
		font-size: 14px
	}
	.contact .adress-wrapper span {
		margin-right: 5px
	}
	.contact .message-wrapper {
		margin-top: 0
	}
	.contact .message-wrapper .refresh .img-wrapper {
		width: 80%
	}
	.contact .message-wrapper .refresh .img-wrapper img {
		width: 100%
	}
	.contact .message-wrapper .refresh a {
		width: 20%
	}
	.contact .message-wrapper .input-wrapper {
		position: relative;
		height: 62px;
		line-height: 62px;
		vertical-align: bottom
	}
	.contact .message-wrapper .input-wrapper input {
		width: 210px
	}
	.contact .message-wrapper .input-wrapper .btn {
		margin-left: 29px;
		position: absolute;
		right: 0;
		bottom: 0
	}
}

@media (max-width: 767px) {
	header .header-title {
		font-size: 24px;
		margin: 70px 0 30px;
		text-align: center
	}
	header .header-info {
		text-align: center;
		font-size: 20px
	}
	header .navigation-wrapper {
		padding: 0
	}
	header .logo {
		text-align: center
	}
	header .log-wrapper {
		padding-top: 20px;
		text-align: center
	}
	header .log-wrapper .log {
		width: 45px;
		text-align: center
	}
	header .log-wrapper .log:last-child {
		text-align: center
	}
	main .sell-wrapper {
		margin-top: 0
	}
	main .sell-wrapper .sell-info {
		font-size: 16px
	}
	main .sell-wrapper .sell-title {
		font-size: 22px
	}
	main .sell-wrapper .sell-title:after {
		width: 100px;
		left: 255px
	}
	main .sell-item {
		margin-bottom: 20px
	}
	main .sell-item .img-wrapper {
		display: none
	}
	main .sell-item .title-wrapper {
		width: 95%;
		height: auto;
		margin: 0;
		padding: 0;
		text-align: center;
		padding: 10px 10px 15px
	}
	main .sell-item .item-title {
		font-size: 15px;
		text-align: center
	}
	main .sell-item .item-info {
		font-size: 12px
	}
	main .sell-item:nth-child(n):before {
		width: 3px;
		height: auto;
		right: 7px
	}
	main .sell-item:nth-child(n):after {
		font-size: 12px
	}
	main .sell-item:nth-child(n) .title-wrapper {
		width: 95%;
		height: auto;
		max-height: 110px;
		margin: 0;
		padding: 0;
		text-align: center;
		padding: 10px 10px 35px
	}
	main .sell-item:nth-child(n+3):before {
		right: 7px;
		left: inherit
	}
	main .sell-item:nth-child(n+3):after {
		right: 0.2vw;
		left: inherit;
		font-size: 12px
	}
	main .search-wrapper {
		height: auto
	}
	main .search-wrapper .search-info {
		font-size: 16px
	}
	main .search-wrapper .search-title {
		font-size: 22px
	}
	main .search-wrapper .search-title:after {
		width: 100px;
		left: 295px
	}
	main .search-wrapper select {
		font-size: 16px
	}
	main .search-wrapper .search {
		font-size: 18px;
		margin-bottom: 15px
	}
	main .cars-header a {
		font-size: 16px
	}
	main .cars-wrapper .info-car {
		padding: 10px 15px 30px
	}
	main .cars-wrapper .info-car time {
		text-align: center
	}
	main .cars-wrapper .info-car time:after {
		right: 0;
		left: 0;
		width: 50%;
		margin: 0 auto
	}
	main .cars-wrapper .info-car a {
		text-align: center
	}
	main .cars-wrapper .info-car price {
		text-align: center
	}
	main .slider-wrapper .slider-text {
		font-size: 16px
	}
	main .slider-wrapper .slider-title {
		font-size: 22px;
		margin-bottom: 50px
	}
	main .slider-wrapper .slider-title:after {
		width: 100px;
		left: 255px
	}
	main .slider-wrapper .text {
		font-size: 16px
	}
	main .slider-wrapper .name {
		font-size: 16px
	}
	main .slider-wrapper .date {
		font-size: 16px
	}
	.meta-content {
		font-size: 15px
	}
	footer .subscribe-wrapper .subscribe-title {
		font-size: 20px;
		line-height: 1;
		padding: 20px 0
	}
	footer .subscribe-wrapper span {
		font-size: 13px
	}
	footer .subscribe-wrapper input {
		font-size: 14px
	}
	footer .subscribe-wrapper button {
		font-size: 16px
	}
	footer .footer-info {
		text-align: center
	}
	footer .footer-info div:first-child {
		margin-bottom: 30px
	}
	footer .footer-info .footer-title {
		margin-bottom: 30px;
		font-size: 18px
	}
	footer .footer-info .about-info {
		font-size: 15px
	}
	footer .footer-info .adress {
		font-size: 15px
	}
	footer .footer-info .map-wrapper img {
		margin: 0 auto
	}
	footer .copy {
		font-size: 11px
	}
	footer .copy .social li {
		font-size: 18px;
		width: 25%
	}
	footer .copy .social li:nth-child(n+4) {
		margin-top: 10px
	}
	.scroll {
		width: 47px;
		height: 47px;
		border: 2px solid #f54b4e
	}
	.scroll span {
		line-height: 42px;
		font-size: 22px
	}
	.auction .pagination-wrapper .pagination li a {
		font-size: 16px
	}
	.contact-header .header-title {
		font-size: 24px
	}
	.contact .adress-wrapper {
		text-align: center;
		padding-bottom: 20px
	}
	.contact .message-wrapper .message-info {
		font-size: 16px
	}
	.contact .message-wrapper .message-title {
		font-size: 22px
	}
	.contact .message-wrapper .message-title:after {
		width: 100px;
		left: 255px
	}
	.contact .message-wrapper .refresh {
		margin-bottom: 20px;
		width: 40%
	}
	.contact .message-wrapper .refresh a {
		font-size: 20px
	}
	.contact .message-wrapper .refresh .img-wrapper {
		max-height: 62px;
		max-width: 176px
	}
	.contact .message-wrapper .input-wrapper {
		width: 60%;
		margin-bottom: 20px;
		position: relative
	}
	.contact .message-wrapper .input-wrapper input {
		width: 33vw
	}
	.contact .message-wrapper .input-wrapper .btn {
		font-size: 20px;
		margin-left: 37px
	}
	.contact .message-wrapper .message input {
		font-size: 18px
	}
	.contact .message-wrapper .message textarea {
		font-size: 18px
	}
	.contact .message-wrapper .message .form-group {
		margin: 0 0 20px
	}
	.contact .tweets-wrapper .tweets-info {
		font-size: 16px
	}
	.contact .tweets-wrapper .tweets-title {
		font-size: 22px
	}
	.contact .tweets-wrapper .tweets-title:after {
		width: 100px;
		left: 255px
	}
}

@media (max-width: 600px) {
	header .navigation li {
		font-size: 16px;
		padding: 20px 0
	}
	header .navigation a:hover:after {
		bottom: -20px
	}
	header .navigation .active:after {
		bottom: -20px
	}
	header .log-wrapper a {
		font-size: 15px
	}
	header .btn-wrapper .login {
		height: 35px;
		line-height: 35px;
		font-size: 16px
	}
	main .cars-header .col-xs-3 {
		width: 50%;
		margin-bottom: 15px
	}
	main .cars-header div:nth-child(n):after {
		font-size: 14px;
		left: 2px
	}
	.contact .message-wrapper .input-wrapper input {
		width: 27vw
	}
}

@media (max-width: 500px) {
	.contact .message-wrapper .refresh {
		width: 100%
	}
	.contact .message-wrapper .refresh .img-wrapper {
		width: auto
	}
	.contact .message-wrapper .input-wrapper {
		width: 100%
	}
	.contact .message-wrapper .input-wrapper input {
		width: 60vw
	}
}

@media (max-width: 480px) {
	.contact .tweets-wrapper div {
		margin-bottom: 20px
	}
	.contact .tweets-wrapper div img {
		margin: 0 auto
	}
	.contact .tweets-wrapper div:last-child {
		margin-bottom: 0
	}
}

@media (max-width: 450px) {
	header {
		padding: 20px 0
	}
	header .header-title {
		font-size: 20px;
		margin-top: 40px
	}
	header .header-info {
		font-size: 16px
	}
	header .navigation li {
		width: 50%
	}
	header .btn-wrapper {
		margin-top: 40px
	}
	header .btn-wrapper .login {
		font-size: 15px
	}
	header .btn-wrapper .login:first-child {
		width: 95px;
		margin-right: 15px
	}
	header .btn-wrapper .login:last-child {
		width: 170px
	}
	main .sell-wrapper .sell-info {
		font-size: 14px;
		padding-top: 20px
	}
	main .sell-wrapper .sell-title {
		font-size: 20px;
		margin-bottom: 20px
	}
	main .sell-wrapper .sell-title:after {
		width: 80px;
		left: 220px
	}
	main .search-wrapper .search-info {
		font-size: 14px;
		padding-top: 20px
	}
	main .search-wrapper .search-title {
		font-size: 20px;
		margin-bottom: 20px
	}
	main .search-wrapper .search-title:after {
		width: 60px;
		left: 235px
	}
	main .search-wrapper select {
		font-size: 14px
	}
	main .search-wrapper .search {
		font-size: 16px
	}
	main .slider-wrapper {
		padding-bottom: 20px
	}
	main .slider-wrapper .slider-text {
		font-size: 14px;
		margin-top: 20px
	}
	main .slider-wrapper .slider-title {
		font-size: 20px;
		margin-bottom: 20px
	}
	main .slider-wrapper .slider-title:after {
		width: 80px;
		left: 200px
	}
	main .slider-wrapper .text {
		font-size: 14px;
		width: 80%
	}
	main .slider-wrapper .name {
		font-size: 14px
	}
	main .slider-wrapper .date {
		font-size: 14px
	}
	main .slider-wrapper .slider-info {
		margin-top: 20px
	}
	main .owl-theme .owl-controls .owl-page:nth-child(1):after {
		left: 2px;
		font-size: 14px;
		top: 40px
	}
	main .owl-theme .owl-controls .owl-page:nth-child(1):before {
		height: 30px;
		top: 65px
	}
	main .owl-theme .owl-controls .owl-page:nth-child(2):after {
		left: 2px;
		font-size: 14px;
		top: 110px
	}
	main .owl-theme .owl-controls .owl-page:nth-child(2):before {
		height: 30px;
		top: 135px
	}
	main .owl-theme .owl-controls .owl-page:nth-child(3):after {
		left: 2px;
		font-size: 14px;
		top: 180px
	}
	main .owl-theme .owl-controls .owl-page:nth-child(3):before {
		height: 30px;
		top: 205px
	}
	.meta-content {
		font-size: 14px;
		padding: 20px 0
	}
	.cl-banner {
		padding-top: 20px
	}
	footer .subscribe-wrapper .form-group {
		width: 100%;
		margin: 0 0 15px
	}
	footer .subscribe-wrapper .form-group:first-child {
		margin-top: 15px
	}
	footer .subscribe-wrapper .subscribe-title {
		font-size: 18px
	}
	footer .about-wrapper {
		padding: 10px 0 30px
	}
	footer .footer-info .footer-title {
		font-size: 16px;
		margin-bottom: 20px
	}
	footer .footer-info .about-info {
		font-size: 14px
	}
	footer .footer-info .adress {
		font-size: 14px
	}
	footer .footer-info div {
		margin-bottom: 20px
	}
	footer .footer-info div:last-child {
		margin-bottom: 0
	}
	footer .copy {
		text-align: center
	}
	footer .copy .social {
		margin-top: 20px
	}
	.auction .pagination-wrapper .pagination li a {
		font-size: 12px;
		padding: 4px 7px
	}
	.contact-header .btn-wrapper .login:first-child {
		width: 110px
	}
	.contact-header .btn-wrapper .login:last-child {
		width: 155px
	}
	.contact .message-wrapper .message input {
		font-size: 16px
	}
	.contact .message-wrapper .message textarea {
		font-size: 16px
	}
	.contact .message-wrapper .message-info {
		font-size: 14px;
		margin-top: 20px
	}
	.contact .message-wrapper .message-title {
		font-size: 20px;
		margin-bottom: 20px
	}
	.contact .message-wrapper .message-title:after {
		width: 80px;
		left: 215px
	}
	.contact .message-wrapper .input-wrapper {
		height: auto;
		line-height: 1
	}
	.contact .message-wrapper .input-wrapper input {
		width: 100%
	}
	.contact .message-wrapper .input-wrapper .btn {
		width: 100%;
		margin: 20px 0 0;
		font-size: 18px;
		position: static
	}
	.contact .tweets-wrapper .tweets-info {
		font-size: 14px;
		margin-top: 20px
	}
	.contact .tweets-wrapper .tweets-title {
		font-size: 19px;
		margin-bottom: 20px
	}
	.contact .tweets-wrapper .tweets-title:after {
		width: 80px;
		left: 215px
	}
}


/*# sourceMappingURL=main.css.map */
