@import 'reset';
@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-ExtraBold.eot');
	src: url('../fonts/Muli-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-ExtraBold.woff') format('woff'), url('../fonts/Muli-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-Light.eot');
	src: url('../fonts/Muli-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-Light.woff') format('woff'), url('../fonts/Muli-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-ExtraLightItalic.eot');
	src: url('../fonts/Muli-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-ExtraLightItalic.woff') format('woff'), url('../fonts/Muli-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-Italic.eot');
	src: url('../fonts/Muli-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-Italic.woff') format('woff'), url('../fonts/Muli-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-Black.eot');
	src: url('../fonts/Muli-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-Black.woff') format('woff'), url('../fonts/Muli-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-ExtraBoldItalic.eot');
	src: url('../fonts/Muli-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-ExtraBoldItalic.woff') format('woff'), url('../fonts/Muli-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-Regular.eot');
	src: url('../fonts/Muli-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-Regular.woff') format('woff'), url('../fonts/Muli-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-SemiBoldItalic.eot');
	src: url('../fonts/Muli-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-SemiBoldItalic.woff') format('woff'), url('../fonts/Muli-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-ExtraLight.eot');
	src: url('../fonts/Muli-ExtraLight.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-ExtraLight.woff') format('woff'), url('../fonts/Muli-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-Bold.eot');
	src: url('../fonts/Muli-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-Bold.woff') format('woff'), url('../fonts/Muli-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-SemiBold.eot');
	src: url('../fonts/Muli-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-SemiBold.woff') format('woff'), url('../fonts/Muli-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-LightItalic.eot');
	src: url('../fonts/Muli-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-LightItalic.woff') format('woff'), url('../fonts/Muli-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-BoldItalic.eot');
	src: url('../fonts/Muli-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-BoldItalic.woff') format('woff'), url('../fonts/Muli-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-BlackItalic.eot');
	src: url('../fonts/Muli-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Muli-BlackItalic.woff') format('woff'), url('../fonts/Muli-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

$pink: #f54b4e;
$black: #232426;
$blue: #50c5e6;
body {
	min-width: 320px;
	font: 16px 'Muli', sans-serif;
	font-weight: normal;
	font-style: normal;
}

header {
	height: 635px;
	background-image: url(../images/top-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	.navigation-wrapper {
		padding-top: 30px;
	}
	.logo {
		a {
			display: inline-block;
			vertical-align: middle;
			line-height: 1;
		}
	}
	.navigation {
		font-size: 0;
		text-align: center;
		line-height: 1;
		li {
			display: inline-block;
			width: 25%;
			padding: 25px 0;
			font-size: 20px;
			text-transform: uppercase;
		}
		a {
			position: relative;
			@include transition();
			&:after {
				@include transition();
				content: '';
				position: absolute;
				bottom: -25px;
				display: block;
				width: 100%;
				height: 3px;
				border-bottom: 3px solid transparent;
				margin: 0 auto;
				left: 0;
				right: 0;
			}
			&:hover {
				&:after {
					border-color: $pink;
					content: '';
					position: absolute;
					bottom: -25px;
					display: block;
					width: 100%;
					height: 3px;
					border-bottom: 3px solid $pink;
					margin: 0 auto;
					left: 0;
					right: 0;
				}
			}
		}
		.active {
			position: relative;
			&:after {
				content: '';
				position: absolute;
				bottom: -25px;
				display: block;
				width: 100%;
				height: 3px;
				border-bottom: 3px solid $pink;
				margin: 0 auto;
				left: 0;
				right: 0;
			}
		}
	}
	.log-wrapper {
		font-size: 0;
		padding-top: 30px;
		line-height: 1;
		a {
			font-size: 16px;
			@include transition();
			&:hover {
				color: #a2a2a2;
			}
		}
		.log {
			display: inline-block;
			width: 50%;
			&:last-child {
				text-align: right;
			}
		}
	}
	.header-title {
		font-size: 30px;
		font-weight: bold;
		margin: 115px 0 30px;
		text-transform: uppercase
	}
	.header-info {
		font-size: 24px;
		text-transform: uppercase;
	}
	.btn-wrapper {
		font-size: 20px;
		margin-top: 90px;
		.login {
			@include button(45px);
			display: inline-block;
			font-size: 20px;
			@include transition();
			span {
				font-size: .8em;
			}
			&:first-child {
				width: 115px;
				border-bottom: 2px solid #fff;
				margin-right: 25px;
				color: #fff;
			}
			&:last-child {
				width: 225px;
				background: #f43c40;
				font-weight: bold;
			}
			&:hover,
			&:focus,
			&:active {
				&:first-child {
					border-bottom-color: $pink;
					color: $pink;
				}
				&:last-child {
					background: #cc3333;
				}
			}
		}
	}
}

main {
	.sell-wrapper {
		background: #FFF;
		margin-top: -90px;
		.sell-info {
			font-size: 18px;
			padding-top: 40px;
			color: #6C6C6C;
			text-align: center;
			display: block;
		}
		.sell-title {
			font-size: 26px;
			margin: 15px 0 40px;
			font-weight: bold;
			color: #222;
			text-align: center;
			position: relative;
			text-transform: uppercase;
			&:after {
				content: '';
				position: absolute;
				top: -8px;
				display: block;
				width: 165px;
				height: 2px;
				border-top: 2px solid $pink;
				margin: 0 auto;
				left: 355px;
				right: 0;
			}
		}
	}
	.sell-item {
		position: relative;
		margin-bottom: 60px;
		.title-wrapper {
			width: 405px;
			height: 215px;
			border: 2px solid #636363;
			padding-left: 140px;
			padding-right: 15px;
			padding-top: 35px;
			padding-bottom: 40px;
			margin-left: 80px;
		}
		.img-wrapper {
			background: $pink;
			width: 210px;
			height: 210px;
			position: absolute;
			top: 40px;
			img {
				@include overlay();
				padding: 15px;
			}
		}
		.item-title {
			font-size: 22px;
			font-weight: bold;
			color: #222;
			text-align: left;
			margin: 0 0 45px;
			text-transform: uppercase;
			&:after {
				content: none;
			}
		}
		.item-info {
			font-size: 16px;
			color: #6C6C6C;
			margin: 0;
		}
		@for $i from 1 through 2 {
			&:nth-child(#{$i}) {
				&:after {
					content: "0#{$i}";
					-moz-writing-mode: vertical-rl;
					-o-writing-mode: vertical-rl;
				    -ms-writing-mode: bt-rl;
					writing-mode: vertical-rl;
					position: absolute;
					right: 5px;
					top: 0;
					transform: rotate(180deg);
					color: $pink;
					font-size: 26px;
					font-weight: bold;
				}
				&:before {
					content: "";
					position: absolute;
					height: 205px;
					width: 5px;
					right: 18px;
					top: 17%;
					bottom: 0;
					background: #222222;
				}
				.img-wrapper {
					left: 15px;
				}
			}
		}
		@for $i from 3 through 4 {
			&:nth-child(#{$i}) {
				&:after {
					content: "0#{$i}";
					-moz-writing-mode: vertical-rl;
					-o-writing-mode: vertical-rl;
				    -ms-writing-mode: bt-rl;
					writing-mode: vertical-rl;
					position: absolute;
					left: 3px;
					top: 0;
					transform: rotate(180deg);
					color: $pink;
					font-size: 26px;
					font-weight: bold;
				}
				&:before {
					content: "";
					position: absolute;
					height: 205px;
					width: 5px;
					left: 17px;
					top: 17%;
					bottom: 0;
					background: #222222;
				}
				.title-wrapper {
					padding-right: 140px;
					padding-left: 25px;
					margin-left: 70px;
				}
				.img-wrapper {
					right: 15px;
				}
			}
		}
		&:nth-child(3) {
			.item-title {
				margin-bottom: 20px;
			}
		}
	}
	.search-wrapper {
		height: 220px;
		background-image: url(../images/search-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		.search-info {
			font-size: 18px;
			padding-top: 35px;
			color: #d3d3d3;
			text-align: center;
			display: block;
		}
		.search-title {
			font-size: 26px;
			margin: 15px 0 40px;
			font-weight: bold;
			color: #fff;
			text-align: center;
			position: relative;
			text-transform: uppercase;
			&:after {
				content: '';
				position: absolute;
				top: -8px;
				display: block;
				width: 165px;
				height: 2px;
				border-top: 2px solid $pink;
				margin: 0 auto;
				left: 355px;
				right: 0;
			}
		}
		select {
			@include apperance('../images/down.png',
			transparent,
			96%);
			width: 100%;
			border: none;
			border-bottom: 2px solid #fff;
			color: #fff;
			padding: 0 10px 10px;
			font-size: 18px;
			outline: none;
			option {
				background: rgba(0, 0, 0, .5);
			}
			&::-ms-expand {
				display: none;
			}
		}
		.search {
			@include button (35px);
			width: 100%;
			line-height: 1;
			background: #f43c40;
			font-weight: bold;
			border: none;
			color: #FFF;
			font-size: 20px;
			@include transition();
			&:hover {
				background: #cc3333;
			}
		}
	}
	.cars-header {
		padding-top: 40px;
		text-align: right;
		a {
			@include button(47px);
			width: 90%;
			display: inline-block;
			line-height: 42px;
			text-transform: none;
			font-size: 18px;
			font-weight: bold;
			color: #222;
			border: 2px solid #222;
			@include transition();
			&:hover,
			&:active,
			&:focus {
				background: #F3F3F3;
				color: #494848;
				border-color: transparent;
			}
		}
		.active {
			background: #F3F3F3;
			color: #494848;
			border-color: transparent;
		}
		div {
			@for $i from 1 through 4 {
				&:nth-child(#{$i}) {
					&:after {
						content: "0#{$i}";
						-moz-writing-mode: vertical-rl;
						-o-writing-mode: vertical-rl;
					    -ms-writing-mode: bt-rl;
						writing-mode: vertical-rl;
						position: absolute;
						left: 0;
						top: 0;
						transform: rotate(180deg);
						color: $pink;
						font-size: 16px;
						font-weight: bold;
					}
					&:before {
						content: "";
						position: absolute;
						height: 24px;
						width: 2px;
						left: 10px;
						top: 23px;
						bottom: 0;
						background: #222222;
					}
					.title-wrapper {
						padding-right: 140px;
						padding-left: 20px;
						margin-left: 80px;
					}
					.img-wrapper {
						right: 10px;
					}
				}
			}
		}
	}
	.cars-wrapper {
		padding: 30px 0;
		figure {
			position: relative;
			display: block;
			height: 165px;
			background-color: #f1f0f0;
			img {
				@include overlay();
			}
		}
		.car-item {
			margin-bottom: 50px;
		}
		.info-car {
			position: relative;
			width: calc(100% - 16px);
			margin: 0 auto;
			border: 2px solid #000;
			border-top: none;
			padding: 10px 0 20px 15px;
			position: relative;
			time {
				display: block;
				color: #6C6C6C;
				font-size: 14px;
				position: relative;
				span {
					margin-right: 5px;
				}
				&:after {
					content: "";
					border-bottom: 1px solid $pink;
					width: 35%;
					height: 1px;
					right: 25%;
					bottom: -5px;
					position: absolute;
				}
			}
			a {
				font-size: 18px;
				color: #000;
				display: block;
				margin: 15px 0 20px;
				@include continue();
			}
			price {
				display: block;
				font-size: 22px;
				font-weight: bold;
				color: $blue;
			}
			.btn {
				position: absolute;
				border-radius: 0;
				text-transform: uppercase;
				font-size: 18px;
				font-weight: bold;
				bottom: -18px;
				right: -10px;
				cursor: pointer;
				color: #010101;
				border: 2px solid #222;
				@include transition();
				&:hover,
				&:focus,
				&:active {
					background: $pink;
					border-color: transparent;
					color: #fff;
				}
			}
		}
		.see-more {
			background: #f43c40;
			@include button(40px);
			@include transition();
			width: 130px;
			margin: 0 auto;
			font-weight: bold;
			font-size: 18px;
			&:hover,
			&:focus,
			&:active {
				background: #cc3333;
			}
		}
	}
	.slider-wrapper {
		background-image: url(../images/slider-bg.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		height: 360px;
		.slider-text {
			font-size: 18px;
			margin-top: 35px;
			color: #d3d3d3;
			text-align: center;
			display: block;
		}
		.slider-title {
			font-size: 26px;
			margin: 15px 0 80px;
			font-weight: bold;
			color: #fff;
			text-align: center;
			position: relative;
			text-transform: uppercase;
			&:after {
				content: '';
				position: absolute;
				top: -8px;
				display: block;
				width: 165px;
				height: 2px;
				border-top: 2px solid $pink;
				margin: 0 auto;
				left: 355px;
				right: 0;
			}
		}
		.text {
			color: #F6F6F6;
			text-align: center;
			margin: 0 auto;
			width: 90%;
			font-size: 18px;
			max-width: 1050px;
		}
		.slider-info {
			text-align: center;
			margin-top: 40px;
		}
		.name {
			font-size: 18px;
			color: $pink;
			font-weight: bold;
			display: inline-block;
			margin-right: 30px;
		}
		.date {
			display: inline-block;
			font-size: 14px;
			color: #E0E0E0;
			i {
				margin-right: 10px;
			}
		}
	}
	.owl-carousel {
		position: relative;
	}
	.owl-theme {
		.owl-controls {
			position: absolute;
			right: 0;
			bottom: 0;
			top: -50px;
			margin-top: 0;
			.owl-page {
				span {
					display: none;
				}
				@for $i from 1 through 3 {
					$step: 0 + ($i - 1) * 70px;
					$stepbef: 25px + ($i - 1) * 70px;
					&:nth-child(#{$i}) {
						&:after {
							content: "0#{$i}";
							-moz-writing-mode: vertical-rl;
							-o-writing-mode: vertical-rl;
						    -ms-writing-mode: bt-rl;
							writing-mode: vertical-rl;
							position: absolute;
							left: 0;
							top: $step;
							transform: rotate(180deg);
							color: #b0383c;
							font-size: 16px;
							font-weight: bold;
						}
						&:before {
							content: "";
							position: absolute;
							height: 35px;
							width: 3px;
							left: 9px;
							top: $stepbef;
							bottom: 0;
							background: #848386;
						}
					}
				}
				&.active {
					&:after {
						color: $pink;
					}
					&:before {
						width: 3px;
						background: #B7B7B7;
					}
				}
			}
		}
	}
}

.meta-content {
	font-size: 16px;
	text-align: center;
	color: #0C2641;
	padding: 30px 0;
}

.cl-banner {
	padding-top: 40px;
}

footer {
	position: relative;
	.about-wrapper {
		height: auto;
		background-image: url(../images/footer-bg.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		padding: 30px 0;
	}
	.subscribe-wrapper {
		margin-bottom: 30px;
		.subscribe-title {
			font-size: 22px;
			font-weight: bold;
			color: #FFF;
			line-height: 75px;
			text-transform: uppercase;
		}
		span {
			font-size: 14px;
			color: #9C999A;
			a {
				color: #fff;
			}
		}
		.form-wrapper {
			border-left: 2px solid #818283;
		}
		.form-group {
			display: inline-block;
			margin: 20px 40px 0 0;
			vertical-align: middle;
			&:last-child {
				margin-right: 0;
			}
		}
		input {
			width: 245px;
			background: transparent;
			border: none;
			border-bottom: 2px solid #313131;
			padding: 3px 0 10px 15px;
			&:focus {
				outline: none;
			}
		}
		button {
			width: 160px;
			height: 35px;
			line-height: 1;
			border: none;
			@include transition();
			font-weight: bold;
			font-size: 18px;
			background: #F43C40;
			color: #fff;
			span {
				color: #fff;
			}
			&:hover,
			&:focus,
			&:active {
				background: #cc3333;
			}
		}
	}
	.footer-info {
		.footer-title {
			font-size: 20px;
			font-weight: bold;
			color: #FFF;
			position: relative;
			display: inline-block;
			margin-bottom: 40px;
			text-transform: uppercase;
			&:after {
				content: "";
				position: absolute;
				border-bottom: 2px solid $pink;
				height: 2px;
				width: 65px;
				right: -40px;
				bottom: -5px;
			}
		}
		.about-info {
			margin: 0;
			font-size: 16px;
			color: #FFF;
		}
		.repokar-wrapper {
			margin-bottom: 30px;
		}
		.repokar {
			display: inline-block;
			vertical-align: middle;
			font-size: 12px;
			line-height: 1;
			color: #FFF;
			span {
				font-weight: bold;
				font-size: 20px;
				text-transform: uppercase;
				display: block;
			}
		}
		.adress {
			color: #FFF;
			font-size: 16px;
			vertical-align: middle;
			margin-bottom: 25px;
			span {
				display: inline-block;
				margin-right: 10px;
				vertical-align: middle;
				color: $pink;
			}
			.adress-info {
				display: inline-block;
				vertical-align: inherit;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.copy {
		background: $pink;
		font-size: 12px;
		color: #fff;
		padding: 10px 0;
		.social {
			font-size: 0;
			li {
				display: inline-block;
				font-size: 20px;
				width: 12.5%;
				text-align: center;
			}
		}
	}
}

.scroll {
	width: 53px;
	height: 53px;
	border: 3px solid $pink;
	position: absolute;
	right: -20%;
	bottom: 5%;
	display: block;
	span {
		color: $pink;
		text-align: center;
		display: block;
		width: 100%;
		height: 100%;
		line-height: 47px;
		font-size: 25px;
	}
}

.auction-header {
	background-image: url("../images/top-bg-auction.jpg");
	height: 490px;
}

.auction-header + .auction {
	margin-top: -90px;
	.container {
		background: #FFF;
	}
}

.auction {
	.search-wrapper {
		background-image: none;
		.search-info {
			color: #6c6c6c;
		}
		.row {
			background: #FFF;
		}
		.search-title {
			color: #222;
		}
		select {
			color: #6C6C6C;
			border-color: #6c6c6c;
			background-image: url(../images/down-auction.png);
		}
	}
	.cars-wrapper {
		padding: 30px 0 0;
	}
	.pagination-wrapper {
		text-align: center;
		.pagination {
			margin: 0;
			li {
				a {
					text-transform: uppercase;
					font-weight: bold;
					font-size: 18px;
					background: $pink;
					color: #FFF;
					border: none;
					@include transition();
					&.active,
					&:hover {
						background: #cc3333;
						color: #FFF;
						}
				}
			}
		}
	}
}

.contact-header {
	background-image: url("../images/top-bg-contact.jpg");
	height: 635px;
	.header-title {
		a {
			text-decoration: underline;
		}
	}
	.header-info {
		a {
			text-decoration: underline;
		}
	}
	.btn-wrapper {
		.login {
			&:first-child {
				width: 160px;
			}
		}
	}
}

.contact {
	.message-wrapper {
		margin-top: -90px;
		background: #FFF;
		.message-info {
			font-size: 18px;
			margin-top: 40px;
			color: #6C6C6C;
			text-align: center;
			display: block;
		}
		.message-title {
			font-size: 26px;
			margin: 15px 0 40px;
			font-weight: bold;
			color: #222;
			text-align: center;
			position: relative;
			text-transform: uppercase;
			&:after {
				content: '';
				position: absolute;
				top: -8px;
				display: block;
				width: 165px;
				height: 2px;
				border-top: 2px solid $pink;
				margin: 0 auto;
				left: 355px;
				right: 0;
			}
		}
		.message {
			.form-group {
				margin-bottom: 30px;
			}
			input {
				border: none;
				border-radius: 0;
				border-bottom: 2px solid #6c6c6c;
				color: #6C6C6C;
				font-size: 20px;
				padding-bottom: 10px;
				-webkit-box-shadow: none;
				box-shadow: none;
			}
			textarea {
				border: 2px solid #6c6c6c;
				border-radius: 0;
				height: 115px;
				color: #6C6C6C;
				font-size: 20px;
				resize: none;
			}
		}
		.captcha-wrapper {
			font-size: 0;
		}
		.refresh {
			display: inline-block;
			width: 31.5%;
			.img-wrapper {
				display: inline-block;
			}
			a {
				color: $pink;
				font-size: 22px;
				vertical-align: middle;
				display: inline-block;
				width: 40%;
				text-align: center;
			}
		}
		.input-wrapper {
			width: 68.5%;
			display: inline-block;
			input {
				width: 310px;
				font-size: 20px;
				display: inline-block;
				vertical-align: bottom;
			}
			.btn {
				border-radius: 0;
				border: none;
				background: $pink;
				color: #fff;
				font-size: 22px;
				width: 135px;
				font-weight: bold;
				text-transform: uppercase;
				margin-left: 40px;
			}
		}
	}
	.adress-wrapper {
		.adress {
			display: inline-block;
			vertical-align: middle;
		}
		li {
			font-size: 22px;
			color: #222;
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			color: #222;
		}
		span {
			color: $pink;
			vertical-align: middle;
			margin-right: 10px;
		}
	}
	.tweets-wrapper {
		padding-bottom: 35px;
		.tweets-info {
			font-size: 18px;
			margin-top: 40px;
			color: #6C6C6C;
			text-align: center;
			display: block;
		}
		.tweets-title {
			font-size: 26px;
			margin: 15px 0 40px;
			font-weight: bold;
			color: #222;
			text-align: center;
			position: relative;
			text-transform: uppercase;
			&:after {
				content: '';
				position: absolute;
				top: -8px;
				display: block;
				width: 165px;
				height: 2px;
				border-top: 2px solid $pink;
				margin: 0 auto;
				left: 355px;
				right: 0;
			}
		}
	}
}

@media (max-width: 1300px) {
	.scroll {
		position: static;
		margin: 10px auto 0;
	}
}

@media (max-width: 1200px) {
	main {
		.sell-item {
			&:nth-child(n) {
				&:before {
					height: 195px;
				}
			}
			&:nth-child(n + 3) {
				.title-wrapper {
					padding-right: 145px;
					margin-left: 35px;
				}
			}
			.title-wrapper {
				margin-left: 50px;
				width: 370px;
				padding-left: 150px;
			}
			.img-wrapper {
				width: 190px;
				height: 190px;
			}
		}
		.cars-wrapper {
			.info-car {
				padding: 10px 0 30px 15px;
			}
		}
	}
	footer {
		.subscribe-wrapper {
			button {
				width: 100%;
			}
			input {
				width: 100%;
			}
			.subscribe-title {
				font-size: 19px;
			}
			.form-group {
				margin-right: 2.8vw;
			}
		}
	}
	.contact {
		.adress-wrapper {
			li {
				font-size: 18px;
			}
		}
		.message-wrapper {
			.refresh {
				a {
					width: 28%;
				}
			}
			.input-wrapper {
				.btn {
					margin-left: 32px;
				}
			}
		}
	}
}

@media (max-width: 992px) {
	.container {
		width: 100%;
	}
	header {
		height: auto;
		padding: 30px 0;
		.btn-wrapper {
			margin-top: 50px;
			text-align: center;
		}
	}
	main {
		.sell-wrapper {
			margin-top: 0;
		}
		.sell-item {
			&:nth-child(n) {
				&:after {
					font-size: 22px;
				}
				&:before {
					width: 3px;
					height: 177px;
				}
			}
			&:nth-child(n + 3) {
				.title-wrapper {
					margin-left: 30px;
					padding-left: 15px;
					padding-right: 140px;
				}
				&:after {
					font-size: 22px;
				}
				&:before {
					width: 3px;
					height: 177px;
					left: 15px;
				}
			}
			.item-title {
				font-size: 19px;
				margin-bottom: 20px;
			}
			.item-info {
				font-size: 14px;
			}
			.title-wrapper {
				width: 81%;
				margin-left: 40px;
				height: 200px;
				padding-left: 140px;
			}
			.img-wrapper {
				width: 170px;
				height: 170px;
			}
		}
		.cars-wrapper {
			.info-car {
				padding-left: 10px;
				time {
					font-size: 13px;
				}
				a {
					font-size: 17px;
					margin-bottom: 15px;
				}
				price {
					font-size: 21px;
				}
			}
		}
		.owl-theme {
			.owl-controls {
				right: 15px;
			}
		}
		.slider-wrapper {
			height: auto;
			padding-bottom: 35px;
		}
	}
	footer {
		.subscribe-wrapper {
			span {
				text-align: center;
			}
			.form-wrapper {
				border: none;
				text-align: center;
			}
			form {
				font-size: 0;
			}
			.subscribe-title {
				text-align: center;
			}
			.form-group {
				width: 30%;
				margin-right: 5%;
			}
			input {
				font-size: 16px;
			}
		}
	}
	.auction-header {
		height: auto;
	}
	.auction-header + .auction {
		margin-top: 0;
	}
	.contact-header {
		height: auto;
		.header-title {
			font-size: 28px;
		}
	}
	.contact {
		.adress-wrapper {
			li {
				font-size: 14px;
			}
			span {
				margin-right: 5px;
			}
		}
		.message-wrapper {
			margin-top: 0;
			.refresh {
				.img-wrapper {
					width: 80%;
					img {
						width: 100%;
					}
				}
				a {
					width: 20%;
				}
			}
			.input-wrapper {
				position: relative;
				height: 62px;
				line-height: 62px;
				vertical-align: bottom;
				input {
					width: 210px;
				}
				.btn {
					margin-left: 29px;
					position: absolute;
					right: 0;
					bottom: 0;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	header {
		.header-title {
			font-size: 24px;
			margin: 70px 0 30px;
			text-align: center;
		}
		.header-info {
			text-align: center;
			font-size: 20px;
		}
		.navigation-wrapper {
			padding: 0;
		}
		.logo {
			text-align: center;
		}
		.log-wrapper {
			padding-top: 20px;
			text-align: center;
			.log {
				width: 45px;
				text-align: center;
				&:last-child {
					text-align: center;
				}
			}
		}
	}
	main {
		.sell-wrapper {
			margin-top: 0;
			.sell-info {
				font-size: 16px;
			}
			.sell-title {
				font-size: 22px;
				&:after {
					width: 100px;
					left: 255px;
				}
			}
		}
		.sell-item {
			margin-bottom: 20px;
			.img-wrapper {
				display: none;
			}
			.title-wrapper {
				width: 95%;
				height: auto;
				margin: 0;
				padding: 0;
				text-align: center;
				padding: 10px 10px 15px;
			}
			.item-title {
				font-size: 15px;
				text-align: center;
			}
			.item-info {
				font-size: 12px;
			}
			&:nth-child(n) {
				&:before {
					width: 3px;
					height: auto;
					right: 7px;
				}
				&:after {
					font-size: 12px;
				}
				.title-wrapper {
					width: 95%;
					height: auto;
					max-height: 110px;
					margin: 0;
					padding: 0;
					text-align: center;
					padding: 10px 10px 35px;
				}
			}
			&:nth-child(n+3) {
				&:before {
					right: 7px;
					left: inherit;
				}
				&:after {
					right: 0.2vw;
					left: inherit;
					font-size: 12px;
				}
			}
		}
		.search-wrapper {
			height: auto;
			.search-info {
				font-size: 16px;
			}
			.search-title {
				font-size: 22px;
				&:after {
					width: 100px;
					left: 295px;
				}
			}
			select {
				font-size: 16px;
			}
			.search {
				font-size: 18px;
				margin-bottom: 15px;
			}
		}
		.cars-header {
			a {
				font-size: 16px;
			}
		}
		.cars-wrapper {
			.info-car {
				padding: 10px 15px 30px;
				time {
					text-align: center;
					&:after {
						right: 0;
						left: 0;
						width: 50%;
						margin: 0 auto;
					}
				}
				a {
					text-align: center;
				}
				price {
					text-align: center;
				}
			}
		}
		.slider-wrapper {
			.slider-text {
				font-size: 16px;
			}
			.slider-title {
				font-size: 22px;
				margin-bottom: 50px;
				&:after {
					width: 100px;
					left: 255px;
				}
			}
			.text {
				font-size: 16px;
			}
			.name {
				font-size: 16px;
			}
			.date {
				font-size: 16px;
			}
		}
	}
	.meta-content {
		font-size: 15px;
	}
	footer {
		.subscribe-wrapper {
			.subscribe-title {
				font-size: 20px;
				line-height: 1;
				padding: 20px 0;
			}
			span {
				font-size: 13px;
			}
			input {
				font-size: 14px;
			}
			button {
				font-size: 16px;
			}
		}
		.footer-info {
			div {
				&:first-child {
					margin-bottom: 30px;
				}
			}
			text-align: center;
			.footer-title {
				margin-bottom: 30px;
				font-size: 18px;
			}
			.about-info {
				font-size: 15px;
			}
			.adress {
				font-size: 15px;
			}
			.map-wrapper {
				img {
					margin: 0 auto;
				}
			}
		}
		.copy {
			font-size: 11px;
			.social {
				li {
					font-size: 18px;
					width: 25%;
					&:nth-child(n+4) {
						margin-top: 10px;
					}
				}
			}
		}
	}
	.scroll {
		width: 47px;
		height: 47px;
		border: 2px solid #f54b4e;
		span {
			line-height: 42px;
			font-size: 22px;
		}
	}
	.auction {
		.pagination-wrapper {
			.pagination {
				li {
					a {
						font-size: 16px;
					}
				}
			}
		}
	}
	.contact-header {
		.header-title {
			font-size: 24px;
		}
	}
	.contact {
		.adress-wrapper {
			text-align: center;
			padding-bottom: 20px;
		}
		.message-wrapper {
			.message-info {
				font-size: 16px;
			}
			.message-title {
				font-size: 22px;
				&:after {
					width: 100px;
					left: 255px;
				}
			}
			.refresh {
				margin-bottom: 20px;
				width: 40%;
				a {
					font-size: 20px;
				}
				.img-wrapper {
					max-height: 62px;
					max-width: 176px;
				}
			}
			.input-wrapper {
				width: 60%;
				margin-bottom: 20px;
				position: relative;
				input {
					width: 33vw;
				}
				.btn {
					font-size: 20px;
					margin-left: 37px;
				}
			}
			.message {
				input {
					font-size: 18px;
				}
				textarea {
					font-size: 18px;
				}
				.form-group {
					margin: 0 0 20px;
				}
			}
		}
		.tweets-wrapper {
			.tweets-info {
				font-size: 16px;
			}
			.tweets-title {
				font-size: 22px;
				&:after {
					width: 100px;
					left: 255px;
				}
			}
		}
	}
}

@media (max-width: 600px) {
	header {
		.navigation {
			li {
				font-size: 16px;
				padding: 20px 0;
			}
			a {
				&:hover {
					&:after {
						bottom: -20px;
					}
				}
			}
			.active {
				&:after {
					bottom: -20px;
				}
			}
		}
		.log-wrapper {
			a {
				font-size: 15px;
			}
		}
		.btn-wrapper {
			.login {
				height: 35px;
				line-height: 35px;
				font-size: 16px;
			}
		}
	}
	main {
		.cars-header {
			.col-xs-3 {
				width: 50%;
				margin-bottom: 15px;
			}
			div {
				&:nth-child(n) {
					&:after {
						font-size: 14px;
						left: 2px;
					}
				}
			}
		}
	}
	.contact {
		.message-wrapper {
			.input-wrapper {
				input {
					width: 27vw;
				}
			}
		}
	}
}

@media (max-width: 500px) {
	.contact {
		.message-wrapper {
			.refresh {
				width: 100%;
				.img-wrapper {
					width: auto;
				}
			}
			.input-wrapper {
				width: 100%;
				input {
					width: 60vw;
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.contact {
		.tweets-wrapper {
			div {
				img {
					margin: 0 auto;
				}
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

@media (max-width: 450px) {
	header {
		padding: 20px 0;
		.header-title {
			font-size: 20px;
			margin-top: 40px;
		}
		.header-info {
			font-size: 16px;
		}
		.navigation {
			li {
				width: 50%;
			}
		}
		.btn-wrapper {
			margin-top: 40px;
			.login {
				font-size: 15px;
				&:first-child {
					width: 95px;
					margin-right: 15px;
				}
				&:last-child {
					width: 170px;
				}
			}
		}
	}
	main {
		.sell-wrapper {
			.sell-info {
				font-size: 14px;
				padding-top: 20px;
			}
			.sell-title {
				font-size: 20px;
				margin-bottom: 20px;
				&:after {
					width: 80px;
					left: 220px;
				}
			}
		}
		.search-wrapper {
			.search-info {
				font-size: 14px;
				padding-top: 20px;
			}
			.search-title {
				font-size: 20px;
				margin-bottom: 20px;
				&:after {
					width: 60px;
					left: 235px;
				}
			}
			select {
				font-size: 14px;
			}
			.search {
				font-size: 16px;
			}
		}
		.slider-wrapper {
			padding-bottom: 20px;
			.slider-text {
				font-size: 14px;
				margin-top: 20px;
			}
			.slider-title {
				font-size: 20px;
				margin-bottom: 20px;
				&:after {
					width: 80px;
					left: 200px;
				}
			}
			.text {
				font-size: 14px;
				width: 80%;
			}
			.name {
				font-size: 14px;
			}
			.date {
				font-size: 14px;
			}
			.slider-info {
				margin-top: 20px;
			}
		}
		.owl-theme {
			.owl-controls {
				.owl-page {
					@for $i from 1 through 3 {
						$step: 40px + ($i - 1) * 70px;
						$stepbef: 65px + ($i - 1) * 70px;
						&:nth-child(#{$i}) {
							&:after {
								left: 2px;
								font-size: 14px;
								top: $step;
							}
							&:before {
								height: 30px;
								top: $stepbef;
							}
						}
					}
				}
			}
		}
	}
	.meta-content {
		font-size: 14px;
		padding: 20px 0;
	}
	.cl-banner {
		padding-top: 20px;
	}
	footer {
		.subscribe-wrapper {
			.form-group {
				width: 100%;
				margin: 0 0 15px;
				&:first-child {
					margin-top: 15px;
				}
			}
			.subscribe-title {
				font-size: 18px;
			}
		}
		.about-wrapper {
			padding: 10px 0 30px;
		}
		.footer-info {
			.footer-title {
				font-size: 16px;
				margin-bottom: 20px;
			}
			.about-info {
				font-size: 14px;
			}
			.adress {
				font-size: 14px;
			}
			div {
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		.copy {
			text-align: center;
			.social {
				margin-top: 20px;
			}
		}
	}
	.auction {
		.pagination-wrapper {
			.pagination {
				li {
					a {
						font-size: 12px;
						padding: 4px 7px;
					}
				}
			}
		}
	}
	.contact-header {
		.btn-wrapper {
			.login {
				&:first-child {
					width: 110px;
				}
				&:last-child {
					width: 155px;
				}
			}
		}
	}
	.contact {
		.message-wrapper {
			.message {
				input {
					font-size: 16px;
				}
				textarea {
					font-size: 16px;
				}
			}
			.message-info {
				font-size: 14px;
				margin-top: 20px;
			}
			.message-title {
				font-size: 20px;
				margin-bottom: 20px;
				&:after {
					width: 80px;
					left: 215px;
				}
			}
			.input-wrapper {
				height: auto;
				line-height: 1;
				input {
					width: 100%;
				}
				.btn {
					width: 100%;
					margin: 20px 0 0;
					font-size: 18px;
					position: static;
				}
			}
		}
		.tweets-wrapper {
			.tweets-info {
				font-size: 14px;
				margin-top: 20px;
			}
			.tweets-title {
				font-size: 19px;
				margin-bottom: 20px;
				&:after {
					width: 80px;
					left: 215px;
				}
			}
		}
	}
}
